@using BankOfSimbaApp.Models.ViewModels
@model OneAccountViewModel
@{ 
    var name = Model.Account.Name;
    var balance = Model.Account.Balance;
    var balance2d = Model.Account.BalanceTwoDecimals;
    var animalType = Model.Account.AnimalType;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MyShop</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="~/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="accountsTable">
        <table>
            <thead>
                <tr>
                    <th>Account name</th>
                    <th>Account balance</th>
                    <th>Animal Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> @name</td>
                    <td> @balance2d</td>
                    <td> @animalType</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
